name: Django CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    services:
      db:
        image: postgres:15
        env:
          POSTGRES_DB: portfolio_db
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: '1013'
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python 3.12
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r portfolio/requirements.txt
        
    - name: Run tests
      env:
        SECRET_KEY: 'test-secret-key'
        DEBUG: 'True'
        DATABASE_NAME: portfolio_db
        DATABASE_USER: postgres
        DATABASE_PASSWORD: '1013'
        DATABASE_HOST: localhost
        # EMAIL_HOST_USER: 'test@example.com' # Mock out email settings for tests
      run: |
        cd portfolio
        python manage.py makemigrations
        python manage.py migrate
        python manage.py test

  # build-docker:
  #   needs: test
  #   runs-on: ubuntu-latest
  #   if: github.ref == 'refs/heads/main'
  #   steps:
  #   - uses: actions/checkout@v3
  #   - name: Build Docker Image
  #     run: docker-compose build
