name: Django CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v3
    
    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        
    - name: Run tests
      env:
        SECRET_KEY: 'test-secret-key'
        DEBUG: 'True'
        # EMAIL_HOST_USER: 'test@example.com' # Mock out email settings for tests
      run: |
        cd portfolio
        python manage.py makemigrations
        python manage.py migrate
        python manage.py test

  # build-docker:
  #   needs: test
  #   runs-on: ubuntu-latest
  #   if: github.ref == 'refs/heads/main'
  #   steps:
  #   - uses: actions/checkout@v3
  #   - name: Build Docker Image
  #     run: docker-compose build
